{# Anchor.twig #}
{% set rel_choices = [
    'alternate', 'author', 'bookmark', 'canonical', 'help', 'icon', 'license', 'manifest',
    'next', 'nofollow', 'noreferrer', 'prefetch', 'prev', 'search', 'stylesheet', 'tag'
] %}
{% set target_choices = ['_blank', '_parent', '_top'] %}

<a
  {% if download is defined %}download="{{ download }}"{% endif %}
  {% if href is defined %}href="{{ href }}"{% endif %}
  {% if hreflang is defined %}hreflang="{{ hreflang }}"{% endif %}
  {% if rel is defined and rel in rel_choices %}rel="{{ rel }}"{% endif %}
  {% if target is defined and target in target_choices %}target="{{ target }}"{% endif %}
  {% if title is defined %}title="{{ title }}"{% endif %}
  {% if type is defined %}type="{{ type }}"{% endif %}
>
  {{ content|raw }}
</a>
